main {
    margin: 0 auto;
}

.sections {
    margin-top: 6%;
    margin-bottom: 5%;
}

.container {
    max-width: 1300px!important;
}
.presentation h1 {
    line-height: 80%!important;
}

.presentation h5 {
    color: var(--primary);
}

.presentation h1 {
    font-weight: bold;
}

.presentation .slate {
    color: var(--slate);
}

.description p {
    font-weight: 500;
}
.desk {
    margin-top: 6%;
}

.left-social {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--slate);
}

.left-social ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.left-social ul li {
    margin-bottom: 30px;
}

.left-social ul:after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--slate);
}

.about {
    margin-top: 200px;
    counter-reset: my-sec-counter;
}

.numbered-heading::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ". ";
    color: var(--primary);
}

 .numbered-heading::after {
     content: "";
     display: block;
     position: relative;
     top: -15px;
     width: 300px;
     height: 1px;
     margin-left: 26%;
     background-color: #233554;
 }

 span {
     color: var(--primary);
     font-weight: bold;
 }
 .wrapper img{
     filter: drop-shadow(16px 16px 20px var(--primary)) invert(8%);
 }

.skills li {
    list-style: none;
}
 .skills ul li::before {
     padding-right: 4px;
     content: "▹";
     color: var(--primary);
     left: 10px;
     font-size: 14px;
 }

.experience {
    margin-top: 200px;
    max-width: 1000px!important;
}

.experience .card  {
    background-color: var(--bg-color) !important;
}

.experience .card a {
    color: var(--primary-hover) !important;
}

.projects .card {
    background-color: rgb(17,34,64);
}

.projects .top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.projects .description {
    color: var(--slate);
}
.projects .top-card svg{
    margin-top: 5%;
    margin-left: 5%;
}

.projects svg {
    color: var(--primary);
}
@media only screen and (max-width: 1400px) {
    .numbered-heading::after {
        display: none!important;
    }
}

.contact {
    max-width: 600px!important;
    margin: 0 auto 100px;
    text-align: center;
}

.contact h6 {
    color: var(--primary);
}


/* Terminal */
#terminal {
    animation: scale-up-bl 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
}

@keyframes scale-up-bl {
    0% {
        transform: scale(0.5);
        transform-origin: 0% 100%;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: 0% 100%;
    }
}

#beam {
    animation: blinker 0.5s both;
}

@keyframes blinker{
    0% {
        opacity: .10
    }
    20% {
       opacity: .15
    }
    40% {
        opacity: .20
    }
    50% {
        opacity: .30
    }
    70% {
        opacity: .80
    }
    80% {
        opacity: .20;
    }
    90% {
        opacity: .60;
    }
    100%{
        opacity: .80
    }
}

#cursor {
    animation: blink 0.6s infinite 4.1s alternate;
}

@keyframes blink{
    0%{
        opacity: 1
    }
    100%{
        opacity: 0
    }
}

#J {
    stroke-width: 1;
    stroke-dasharray: 393.5;
    stroke-dashoffset: 393.5;
    animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}