.preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #eae7e7;
    z-index: 20;
    animation: fade-out 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.content {
    background-color: #eae7e7;
}

.preloader .lines-wrapper {
    width: 93vw;
    height: 88vh;
    position: absolute;
    overflow: hidden;
    border: 1px solid #3e3e3e;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#logo path:nth-child(7) {
    animation: bounce-in-top 1.8s both;
}

#logo path:nth-child(8) {
    animation: bounce-in-top 1.8s both;
}

#logo path:nth-child(1) {
    stroke-width: 1;
    stroke-dasharray: 893.5;
    stroke-dashoffset: 893.5;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-width: 1;
    stroke-dasharray: 993.5;
    stroke-dashoffset: 993.5;
    animation: line-anim 2s ease forwards .3s;
}

#logo path:nth-child(3) {
    stroke-width: 1;
    stroke-dasharray: 913;
    stroke-dashoffset: 913;
    animation: line-anim 2s ease forwards .6s;
}

#logo path:nth-child(4) {
    stroke-width: 1;
    stroke-dasharray: 790;
    stroke-dashoffset: 790;
    animation: line-anim 2s ease forwards .9s;
}

#logo path:nth-child(5) {
    stroke-width: 1;
    stroke-dasharray: 687;
    stroke-dashoffset: 687;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-width: 1;
    stroke-dasharray: 893;
    stroke-dashoffset: 893;
    animation: line-anim 2s ease forwards 1.5s;
}

.content {
    animation: slide-out-top 0.8s ease-in 4s forwards;
}

/* animations */


@keyframes bounce-in-top {
    0% {
        transform: translateY(-300px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}
svg {
    animation: fill .6s ease-in forwards 2s;
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: rgba(43, 80, 170, 0.51);
    }
}

@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* media queries */
@media only screen and (max-width: 800px) {
    svg {
        width: 75%;
        height: 75%;
    }
}